html,body{
  font-family: 'Montserrat', sans-serif !important;
}

.badge-danger-1 {
    background: #FE5C5C;
    border-radius: 10.5px;
    color: white;
    padding: 5px;
}

.badge-success-1 {
  background: #13B58C;
  border-radius: 10.5px;
  color: white;
  padding: 5px;
}

.btn-success-1 {
  color: #fff;
  background-color: #13B58C;
  border-color: #13B58C;
}

.btn-success-1:hover {
  color: #fff;
  background-color: #53C9AB;
  border-color: #53C9AB;
}



.page-loader{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  background-color:rgba(#fff, .7);
  z-index:10000;

}

.page-loader:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  position:fixed;
  top:50%;
  left:50%;
  margin:-25px 0 0 -25px;
  border-radius: 50%;
  border: 6px solid #13B58C;
  border-color: #13B58C transparent #13B58C transparent;
  animation: spinner 1.2s linear infinite;
}


@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}